<div data-ng-controller="UpcomingMatchesListCtrl" class="well">
  <h1>Upcoming Games</h1>
  <div data-ng-repeat="match in matches | limitTo: 10" class="well well-white">

    <div>
      <p>
        <img class="home_team" src="http://upload.wikimedia.org/wikipedia/en/0/05/Flag_of_Brazil.svg">
        <span>{{match.home_team}}</span>
        <span>-</span>
        <span>{{match.away_team}}</span>
        <img class="away_team" src="http://upload.wikimedia.org/wikipedia/en/0/05/Flag_of_Brazil.svg">

        <span>{{matchStartTime}}</span>
      </p>
    </div>

    <div class="game-buttons">
      <p>
        <button type="button" class="btn btn-primary">
          Home{{match.home_odds}}
        </button>
        <button type="button" class="btn btn-success">
          Draw{{match.draw_odds}}
        </button>
        <button type="button" class="btn btn-warning">
          Away{{match.away_odds}}
        </button>
        <img src="http://b.dryicons.com/images/icon_sets/colorful_stickers_part_6_icons_set/png/256x256/pie_chart.png" width="30px" height="30px" alt="HAD">
      </p>
    </div>

    <div class="game-buttons">
      <p>
        <button type="button" class="btn btn-primary">Over</button>
        <span class="badge margin-left-27">2.5{{over_under_odds}}</span>
        <button type="button" class="btn btn-warning">Under</button>
        <img src="http://b.dryicons.com/images/icon_sets/colorful_stickers_part_6_icons_set/png/256x256/pie_chart.png" width="30px" height="30px" alt="HAD">
      </p>
    </div>

    <div class="game-buttons">
      <p>
        <button type="button" class="btn btn-primary">
          -0.5{{home_handicap_odds}}
        </button>
        <span class="badge handicap">Handicap</span>
        <button type="button" class="btn btn-warning">
          +0.5{{away_handicap_odds}}
        </button>
        <img src="http://b.dryicons.com/images/icon_sets/colorful_stickers_part_6_icons_set/png/256x256/pie_chart.png" width="30px" height="30px" alt="HAD">
      </p>
    </div>

  </div>
</div>

