section#update-profile.row data-ng-controller="updateProfileCtrl"
  header
    h1.sr-only Update my Profile

  .row
    .col-md-8
      .row
        .col-xs-8
          h2 Update my Profile
        a.col-xs-4.edit-profile-button data-ng-href="/#/my-profile"
          span.edit-profile-text Cancel
          i.fa.fa-arrow-left
    
  .row
    .col-md-8
      .login-form-tab.confirm-registration
        form
    /     = form_for @user, url: settings_edit_path, html: { id: 'settings-edit' } do |f|
    /       fieldset
    /         legend Please update your details
    /         .form-group
    /           = f.label :first_name, class: 'sr-only'
    /           = f.text_field :first_name, placeholder: 'First name', class: 'input-field'
              
    /         .form-group
    /           = f.label :last_name, class: 'sr-only'
    /           = f.text_field :last_name, placeholder: 'Last name', class: 'input-field'
              
    /         .form-group
    /           = f.label :user_name, class: 'sr-only'
    /           = f.text_field :user_name, placeholder: 'Choose a Username', class: 'input-field'
              
    /         .form-group
    /           = f.submit 'Save', class: 'btn btn-success'
    /           = link_to "Cancel", settings_url, class: 'btn btn-link cancel-button'