<div data-ng-controller="LeaderboardCtrl" class="row">
  <h1>Leaderboard:</h1>
  <div class="leaderboard-list">
    <div class="panel-heading leaderboard-heading" ng-init="predicate = '-coins*1'">
      <ul class="pagination pagination-sm">
        <li class="active">
          <a href="" ng-click="predicate = 'coins*1'; reverse=!reverse; active=!reverse">
            Coins <i class="fa fa-sort"></i>
          </a>
        </li>
        <li>
          <a href="" ng-click="predicate = 'win_percentage*1'; reverse=!reverse; active=reverse">
            Win % <i class="fa fa-sort"></i>
          </a>
        </li>
        <li>
          <a href="" ng-click="predicate = 'numberOfBets'; reverse=!reverse">
            Bets <i class="fa fa-sort"></i>
          </a>
        </li>
        <li>
          <a href="" ng-click="predicate = 'links.followings_as_followers.length'; reverse=!reverse">
            Followers <i class="fa fa-sort"></i>
          </a>
        </li>
      </ul>
    </div>
    <table class="table leaderboard-table">
      <thead>
        <tr>
          <th class="sr-only">Rank</th>
          <th class="sr-only">Profile Picture</th>
          <th class="sr-only">Username</th>
          <th class="sr-only">Number of Coins</th>
          <th class="sr-only">Percentage of Wins</th>
          <th class="sr-only">Number of Bets</th>
          <th class="sr-only">Number of Followers</th>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="user in users | orderBy:predicate:reverse | limitTo: 10">
          <td class="leaderboard-rank">
            {{$index +1}}
          </td>
          <td>
            <img src="http://png-1.findicons.com/files/icons/1072/face_avatars/300/i04.png" width="20px" height="20px" alt="Profile Picture">
          </td>
          <td class="leaderboard-name">
            {{user.user_name}}
          </td>
          <td class="leaderboard-coins">
            <strong>{{user.coins | number:0}}</strong>
            <br>coins
          </td>
          <td class="leaderboard-percent">
            <strong>{{user.win_percentage *100 | number:0}}%</strong>
            <br>wins
          </td>
          <td class="leaderboard-number-bets">
            <strong>{{user.numberOfBets}}</strong>
            <br>bets
          </td>
          <td class="leaderboard-followers">
            <strong>{{user.links.followings_as_followers.length}}</strong> 
            <i class="fa fa-user"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
