@import 'variables'

table.admin-panel-table th, table.admin-panel-table td
  font-size 0.85em

table.admin-panel-table .admin-teams
  font-size 1.1em

table.admin-panel-table .admin-teams a
  color #fff

table.admin-panel-table .btn.btn-success
  font-size 1em
  height 28px
  margin 0 5px
  padding 5px
  // width 90px

.admin-match-form .col-xs-3
  padding-bottom 10px
  padding-top 10px

.admin-match-form .form-control
  display inline-block
  margin 0 10px
  width 40px

.admin-match-form
  padding-bottom 10px
  padding-top 10px
  text-align center

.admin-match-form .btn.btn-danger, .admin-match-form .btn.btn-success
  margin 0 0 0 30px

.profile-total-number
  font-size 23px
