@import 'styles'

table.admin-panel-table th, table.admin-panel-table td
  font-size 0.85em

table.admin-panel-table .admin-teams
  font-size 1.1em
  font-weith bold

table.admin-panel-table .admin-teams a
  color #fff

table.admin-panel-table .btn.btn-danger
  font-size 1em
  // width 90px
  height 28px
  padding 5px
  margin 0 5px

.admin-match-form .col-xs-3
  padding-top 10px
  padding-bottom 10px

.admin-match-form .form-control
  width 40px
  display inline-block
  margin 0 10px

.admin-match-form
  text-align center
  padding-top 10px
  padding-bottom 10px

.admin-match-form .btn.btn-danger, .admin-match-form .btn.btn-success
  margin 0 0 0 30px

