@import 'variables'

.dashboard-username h2
  font-size 20px
  margin-top 0
  text-align center

.dashboard-bets
  font-size 11px
  margin-bottom 10px

.dashboard-bet-date
  color #fff

.dashboard-section1, .dashboard-section2
  font-size 15px
  text-align left


.dashboard-content1, .dashboard-content2
  font-size 13px
  font-weight 400
  text-align left


// .table > tbody > tr
//   font-size 14px
//   font-weight 400
//   text-align center 

// .table > thead > tr > th
//   font-size 16px
//   font-weight 400
//   text-align center 