@import 'variables'

.dashboard-username h2
  font-size 20px
  margin-top 0
  text-align center

.dashboard-bets
  font-size 11px
  margin-bottom 10px

.dashboard-bet-date
  color #fff

.dashboard-bets thead th
  font-size 15px

.dashboard-bets tbody tr
  font-size 13px
  font-weight 400

.dashboard-highlight
  background-color hsla(0, 0%, 100%, 0.7)

.dashboard-flags
  min-width 103px

.dashboard-flags img
  height 28px
  margin 0 8px
  width 28px

.dashboard-bet-type
  max-width 85px

.dashboard-coins-value
  font-size 24px
  font-weight bolder 

.dashboard-coins-key
  font-size 20px
  font-weight 200 

.dashboard-coins
  margin 15px 0 20px
  // padding 15px
  text-align center

table.table.dashboard-bets th, table.table.dashboard-bets td
  padding 8px 3px
  text-align center