@import 'variables'

.dashboard-username h2
  font-size 20px
  margin-top 0
  text-align center

.dashboard-bets
  font-size 11px
  margin-bottom 10px

.dashboard-bet-date
  color #fff

.dashboard-bets thead tr
  font-size 15px
  text-align left


.dashboard-bets tbody tr
  font-size 13px
  font-weight 400
  text-align left
