@import 'variables'

html
  min-height 100%
  position relative

body
  background url("pokerchip.jpg") no-repeat center center fixed
  color white
  height 100%

h1, h2
  color titles-color
  font-size 25px
  font-weight lighter
  text-shadow 2px 2px #383838
  // margin-bottom 0

.main.container
  padding 80px 15px

/*.header-icons
  font-size 18px
*/
#footer
  background-color hsla(0, 0%, 0%, 0.8)
  bottom 0
  line-height 2em
  position absolute
  width 100%

#footer > .container
  padding 0 20px 4px 0
  text-align right

ul.footer-nav
  font-size 15px
  margin 20px 0 10px 0

ul.footer-nav > li
  margin-left 6px

ul.footer-nav > li > a
  color titles-color
  font-weight 200

.well
  background-color dark-transparent-50
  border 3px transparent
  border-radius 8px
  margin-top 14px
  padding 7px 20px 3px 20px

.well-white
  background-color dark-transparent-40
  border-color transparent
  padding-bottom 30px

.navbar-fixed-top
  background-color dark-transparent-70
  border-color transparent

.navbar.navbar-default.navbar-fixed-top
  height 78px

.navbar-default .navbar-brand
  color #e1e1e8
  
.navbar-brand
  font-size 3em
  font-weight bold
  line-height 45px
  text-transform uppercase

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus
  background none repeat scroll 0 0 rgba(0, 0, 0, 0)
  border 1px solid #fff
  border-radius 4px
  box-shadow 0 0 0 1px #fff inset
  color hsla(229, 64%, 100%, 1)
  margin-top 0

.navbar-collapse
  font-size 1.2em
  text-transform uppercase

.collapse.navbar-collapse
  padding 13px

li.logout-nav-button a
  font-size 1.3em
  padding 15px 10px 10px
  margin-left 15px

li.login-nav-button a
  padding 15px 10px

@media (min-width: 768px) and (max-width: 992px)
  header#header > div.navbar.navbar-default.navbar-fixed-top > div.container
    width 100%
    
