@import 'variables'

.leaderboard-list
  background-color dark-transparent-50
  border-radius 8px
  margin 14px
  padding 7px 18px 3px 18px

.leaderboard-heading
  font-size 20px
  font-weight bold
  text-align center
  text-transform uppercase
  padding-left 0
  padding-right 0

.leaderboard-table > thead > tr > th
  color #428bca
  cursor pointer
  font-size 12px

.leaderboard-rank
  font-size 16px
  font-weight bold

.leaderboard-name
  font-size 16px
  font-weight 400
  
.leaderboard-followers, .leaderboard-coins, .leaderboard-percent, .leaderboard-number-bets
  font-size 12px

.pagination
  margin 0

.leaderboard-title
  margin 19px 14px 15px 15px

.leaderboard-right-title
  margin 19px 0 0 15px