.leaderboard-list {
  padding: 9px 14px;
  margin-bottom: 14px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
}
.leaderboard-heading {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}
.leaderboard-table > thead > tr > th {
  font-size: 10px;
}
.leaderboard-rank {
  font-size: 16px;
  font-weight: bold;
}
.leaderboard-name {
  font-size: 14px;
}
.leaderboard-followers, .leaderboard-coins, .leaderboard-percent, .leaderboard-number-bets {
  font-size: 11px;
}
.pagination {
  margin: 0;
}