@import 'variables'

.leaderboard-list
  background-color dark-transparent-50
  border-radius 8px
  margin 14px
  padding 7px 18px 3px 18px
  

.leaderboard-heading
  font-size 20px
  font-weight bold
  text-align center
  text-transform uppercase
  padding-left 0
  padding-right 0

.leaderboard-table > thead
  // -webkit-border-radius 8px 8px 0 0
  // border-radius 8px 8px 0 0
  background -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 100%)
  background -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.3)))
  background -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 100%)
  background -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 100%)
  background -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 100%)
  background linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 100%)

.leaderboard-table > thead > tr > th
  color #428bca
  cursor pointer
  font-size 14px

.leaderboard-rank
  font-size 18px
  font-weight bold

.leaderboard-name
  font-size 16px
  font-weight 400

.pagination
  margin 0

.leaderboard-title
  margin 19px 14px 15px 15px

.leaderboard-top-ten-title
  margin 19px 0 0 15px

.leaderboard-top-ten-table .leaderboard-value
  font-size 13px
  font-weight bold
  margin-bottom 2px

.leaderboard-top-ten-table .leaderboard-key
  font-size 11px

.leaderboard-complete-table .leaderboard-key
  font-size 12px
  