@import 'variables'

.game-buttons
  font-size 12px

.game-buttons > div
  text-align center

.game-buttons button
  font-size 12px
  height 25px
  padding 0
  width 100%

.game-buttons .badge
  background-color transparent
  border 1px solid
  border-color #999
  color #999
  font-size 12px
  font-weight normal

// img.home_team
//   height 22px
//   margin 0 180px 0 10px
//   width 30px

// img.away_team
//   height 22px
//   margin 0 10px 0 180px
//   width 30px

.home-flag img, .away-flag img
  height 32px
  width 32px
  margin-bottom 5px

.game-information
  font-size 13px
  font-weight bold
  padding 2px
  vertical-align middle

.country-flag, .country-flag > div
  display inline-block
  margin 0

.game-information-text
  margin-bottom 5px

.teams-info
  color #fff
  font-size 17px
  font-weight 300
  margin-top 6px
  text-align center

a.teams-info:hover
  text-decoration none

.score
  color #db082e
  margin 0 10px

.badge.handicap
  margin 7px

.badge.margin-left-27
  margin-top 9px

.match-date
  color #e1e1e8
  font-weight normal
  margin-top 6px
  text-align center

.bet-type, .bet-odds
  display inline-block

.bet-type
  text-align center
  width 50%

.bet-odds
  border-left 1px solid #fff
  text-align center
  width 50%

.btn-primary
  background-color #547788
  border-color #547788
  margin 4px

.btn-success
  background-color #5F8869
  border-color #5F8869
  margin 4px

.btn-warning
  background-color #FF6E68
  border-color #FF6E68
  margin 4px

.btn-warning:hover
  color #fff
  background-color #d43f3a
  border-color #d43f3a

.confirm-registration
  margin-top 70px

.back-button i
  color titles-color
  font-size 25px
  margin 22px 15px 0 0

.back-button span
  color titles-color
  font-size 17px
  text-transform uppercase
  padding-bottom 5px

a.back-button:hover
  text-decoration none

.wager-label
  color #999
  font-size 12px
  font-weight normal
  margin-right 15px

.game-buttons .select2-container
  margin-top 3px

.game-buttons .select2-container .select2-choice > .select2-chosen
  color #999

  