/*.game-show {
  padding: 14px;
  margin: 0 0 14px 20px;
  background-color: hsla(240,14.3%,99.5%,1);
  border: 1px solid #e1e1e8;
  border-radius: 4px;
}*/
.game-buttons {
  font-size: 12px;
}
.game-buttons > div {
  text-align: center;
}
.game-buttons button {
  font-size: 12px;
  height: 25px;
  padding: 0;
  width: 100%;
}
.game-buttons .badge {
  background-color: transparent;
  border: 1px solid;
  border-color: #999;
  color: #999;
  font-size: 12px;
  font-weight: normal;
}
img.home_team {
  width: 30px;
  height: 22px;
  margin: 0 180px 0 10px;
}
img.away_team {
  width: 30px;
  height: 22px;
  margin: 0 10px 0 180px;
}

.game-information {
  font-size: 13px;
  font-weight: bold;
  padding: 2px;
  vertical-align: middle;
}

.country-flag, .country-flag > div {
  display: inline-block;
  margin: 0;
}
.game-information-text {
  margin-bottom: 5px;
}
.teams-info {
  text-align: center;
  margin-top: 6px;
}
.score {
  margin: 0 10px;
  color: red;
}
.match-date {
  text-align: center;
  color: #555;
  font-weight: normal;
  margin-top: 6px;
}

.bet-type, .bet-odds {
  display: inline-block;
}
.bet-type {
  text-align: center;
  width: 50%;
}
.bet-odds {
  text-align: center;
  border-left: 1px solid #fff;
  width: 50%;
}
#frame {
  background-color: #434f7b;
}