@import 'variables'

.profile-container h2
  color #555
  font-size 14px
  font-weight bold
  text-transform uppercase

.profile-container p
  color #555
  font-size 14px
  font-weight bold

.row1 h2
  color #555
  font-size 14px
  font-weight bold
  margin -10px
  text-align center
  text-transform uppercase

.row2
  font-size 18px
  font-weight bold
  text-align center
  text-transform uppercase

.bet-date
  color #999
  font-size 12px

.profile-title-h1
  float left
.profile-title-h1 h1
  font-size 34px
  margin 13px 0 17px

.profile-link
  padding-top 4px
  text-align right

.edit-profile-button
  color titles-color
  cursor pointer
  font-size 30px
  font-weight 200
  text-align right

.edit-profile-button:hover
  text-decoration none

.edit-profile-text
  font-size 17px
  font-weight 200
  margin-right 15px
  text-transform uppercase
  text-shadow 2px 2px #383838

.edit-profile-button
  margin-top 20px
  text-align center

.btn-edit-profile
  background transparent
  color #fff
  font-size 14px
  font-weight 400
  margin 0 15px

@media (max-width: 640px)
  .edit-profile-text
    display none

.profile-picture
  margin 10px 0
  text-align center

.profile-followers
  margin-bottom 5px
  text-align center

.profile-followers > div
  display inline-block
  width 50%
  text-align center

.profile-followers-number
  color #428bca;
  font-size 17px
  font-weight 500
  margin 0 5px

.profile-follow-button
  height 30px
  margin-bottom 10px
  padding 5px 19px 7px

.update-profile-form
  margin-top 3px

.update-profile-form .form-control
  width 80%
  float right

.update-profile-form label
  font-weight 400
  padding-top 6px

.update-profile-form .form-control[placeholder]
  color #333
.update-profile-form .form-control::-webkit-input-placeholder
  color #ccc
  font-style italic
.update-profile-form .form-control:-moz-placeholder
  color #ccc
  font-style italic
.update-profile-form .form-control::-moz-placeholder
  color #ccc
  font-style italic
.update-profile-form .form-control:-ms-input-placeholder
  color: #ccc
  font-style italic

.btn.btn-match-url
  font-size 0.95em
  height 27px
  margin 0 5px
  padding 5px 10px

.edit-profile-button:hover
  color #777

a.profile-website
  color #fff

a.profile-website:hover
  color #fff

.profile-bets-table th
  font-size 13px

.profile-bets-table td
  font-size 12px

.profile-bets-table .bet-wager-gain
  font-size 15px
  font-weight bold

.bet-loss
  color #999
  font-style italic

.profile-general-overview th, .profile-general-overview td
  text-align center

.profile-general-overview td:first-of-type
  font-size 16px

.profile-description
  margin 15px 0
  padding 0

.profile-description-data
  font-size 16px
  font-weight 200

.profile-icon
  font-size 17px
  margin-right 15px

.profile-description-name
  color titles-color
  font-size 27px
  font-weight lighter
  text-shadow 2px 2px #383838
  padding-left 8px


// ////////////// FOR PITCH ONLY

h1.ip-address-for-pitch
  margin-top 100px
  font-size 40px
  background #333
