@import 'styles'

.profile-container h2
  color #555
  font-size 14px
  font-weight bold
  text-transform uppercase

.profile-container p
  color #555
  font-size 14px
  font-weight bold

.row1 h2
  color #555
  font-size 14px
  font-weight bold
  margin -10px
  text-align center
  text-transform uppercase

.row2
  font-size 18px
  font-weight bold
  text-align center
  text-transform uppercase

.total-coins
  color #777
  font-weight bold
  position fixed
  right 26%  /* TODO Add query for smaller screens */
  top 27px
  z-index 1200

.bet-date
  color #666
  font-size 12px

.profile-title-h1
  float left

.profile-link
  text-align right
  padding-top 4px

.edit-profile-button
  font-size 30px
  font-weight 500
  color titles-color
  text-align right
  cursor pointer

.edit-profile-button:hover
  text-decoration none

.edit-profile-text
  margin-right 15px
  font-size 17px
  text-transform uppercase

.edit-profile-text-small
  margin-left 15px
  margin-right 15px
  font-size 14px
  text-transform uppercase
  padding-bottom 5px

@media (max-width:768px)
  .edit-profile-text
    display none

.profile-picture
  margin 10px
  text-align center

.profile-followers
  text-align center
  margin-bottom 5px

.profile-followers-number
  color #428bca;
  font-size 17px

.profile-follow-button
  height 30px
  padding 5px 19px 7px
  margin-bottom 10px

.update-profile-form
  margin-top 3px

.update-profile-form .form-control
  width 80%
  float right

.update-profile-form label
  padding-top 6px
  font-weight 400

.update-profile .form-control[placeholder]
  color #333
.update-profile .form-control::-webkit-input-placeholder
  color: #bbb
.update-profile .form-control:-moz-placeholder
  color: #bbb
.update-profile .form-control::-moz-placeholder
  color: #ccc
.update-profile .form-control:-ms-input-placeholder
  color: #bbb