.profile-container h2 {
  color: #555;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
.profile-container p {
  color: #555;
  font-size: 14px;
  font-weight: bold;
}
.row1 h2 {
  color: #555;
  font-size: 14px;
  font-weight: bold;
  margin: -10px;
  text-align: center;
  text-transform: uppercase;
}
.row2 {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.total-coins {
  color: #777;
  font-weight: bold;
  position: fixed;
  right: 26%;  /* TODO: Add query for smaller screens */
  top: 27px;
  z-index: 1200;
}
.bet-date {
  color: #666;
  font-size: 12px;
}
