@import 'variables'


// FOR PITCH ONLY (SCREEN SIZE 1024x768)
@media (min-width: 1010px) and (max-width: 1040px)
  .container
    width 1000px

  h1.ip-address-for-pitch
    margin-top 100px
    font-size 40px
    background #333
