.input-field {
  /*display: block;*/
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border-width: 0 0 2px 0
 
}
.input-field:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.input-field::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.input-field:-ms-input-placeholder {
  color: #999;
}
.input-field::-webkit-input-placeholder {
  color: #999;
}
.input-field-text {
  color: hsla(0, 0%, 70%, 1)
}
.form-group > .field_with_errors {
  display: inline;
}

.login-form-selector {
  margin: 20px 0 0;
}
.login-form-selector > ul > li {
  width: 33.333333%;
  text-align: center;
}
.login-form-selector > ul > li > a {
  margin-right: 0;
}
.login-form-tab {
  margin: 0;
  padding: 20px;
  border: 1px solid #ddd;
  border-top-style: hidden;
}

.login-form-tab > form > fieldset > legend {
  padding-left: 12px;
  margin-bottom: 30px;
  font-size: 20px;
}
.login-form-tab > form > fieldset > div > input.btn {
  margin-left: 12px;
  margin-top: 15px;
  min-width: 80px;
}
.confirm-registration {
  margin-top: 61px;
  border-top-style: solid;
}

.alert-success {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.alert-message {
  padding: 10px;
  margin-bottom: 20px;
  /*border: 1px solid #d6e9c6;*/
  border-radius: 4px;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}
.alert-message-login {
  color: #3c763d;
}
.alert-message-logout {
  color: Red;
}
.welcome {
  text-align: center;
}
.navbar-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}
#footer {
  background-color: #f5f5f5;
}

.undefined-field {
  color: #999;
  font-style: italic;
}
.profile {
  padding: 14px;
  margin: 20px 0 40px;
  background-color: hsla(240,10.3%,99.5%,1);
  border: 1px solid #e1e1e8;
  border-radius: 4px;
}
.cancel-button {
  margin-left: 12px;
  margin-top: 15px;
  min-width: 80px;
}
.edit-button {
  margin-right: 15px;
}

.password-match-ok {
  padding: 20px 3px;
  color: green;
}
.password-match-no {
  padding: 20px 3px;
  color: red;
}
.progress {
  margin: 0;
}
.password-crack-time {
  color: #999;
  font-size: 12px;
  margin: 5px 0 0 5px;
}
.form-group {
  margin-top: 10px;
}
.log-button {
  padding: 0;
}