/*.game-show {
  padding: 14px;
  margin: 0 0 14px 20px;
  background-color: hsla(240,14.3%,99.5%,1);
  border: 1px solid #e1e1e8;
  border-radius: 4px;*/

.game-buttons {
  font-size: 12px;
}
.game-buttons button {
  font-size: 12px;
  height: 25px;
  margin: 0 3px 0 10px;
  padding: 0;
  width: 170px;
}
.game-buttons .badge {
  background-color: transparent;
  border: 1px solid;
  border-color: #999;
  color: #999;
  font-size: 12px;
  font-weight: normal;
  margin: 0 75px;
}

.game-buttons .badge.handicap {
  margin: 0 59px 0 59px;
}

.well-white {
  background-color: #fff;
}

img.home_team {
  width: 30px;
  height: 22px;
  margin: 0 180px 0 10px;
}

img.away_team {
  width: 30px;
  height: 22px;
  margin: 0 10px 0 180px;
}