titles-color = hsla(0, 0%, 90.6%, 1)
dark-transparent-90 = hsla(0, 0%, 0%, 0.9)
dark-transparent-80 = hsla(0, 0%, 0%, 0.8)
dark-transparent-70 = hsla(0, 0%, 0%, 0.7)
dark-transparent-50 = hsla(0, 0%, 0%, 0.5)
dark-transparent-40 = hsla(0, 0%, 0%, 0.4)
